<!DOCTYPE html>

<head>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/styles.css">
    <title>TSMDB-index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .column {
            width: 97%;
        }

        #back-btn {
            width: auto;
            background-color: #ff5023;
            color: white;
            padding: 5px 10px;
            margin-bottom: 30px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 20px;
            text-decoration: none;
        }

        #back-btn:hover {
            background-color: #ff9811;
        }
    </style>
</head>

<body>
    <div class="header">
        <a href="/" class="logo">
            <img src="/images/logo.png" alt="logo" style="height:25px;width:25px;">
            TSMDB
        </a>
        <div class="header-right">
            <a href="/">Αρχική</a>
            <a href="/stock">Προϊόντα</a>
            <a href="/purchase_history">Ιστορικό αγορών</a>
            <a href="/move_history">Μεταφορές</a>
            <a href="/">Αποσύνδεση</a>
        </div>
    </div>

    <div class="column">
        <div class="row">
            <h2>Συνέβη ένα λάθος</h2>
            <img src="/images/error.png" alt="error-image" style="width:300px;height:300px;">
            <h2>Παρακαλώ ξαναπροσπαθήστε</h2>
            <p><a href="/stock" id="back-btn">Πίσω</a></p>
        </div>
    </div>

</body>