<!DOCTYPE html>

<head>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="styles.css">
    <title>TSMDB-index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="header">
        <a href="/" class="logo">
            <img src="/images/logo.png" alt="logo" style="height:25px;width:25px;">
            TSMDB
        </a>
        <div class="header-right">
            <a href="/">Αρχική</a>
            <a href="/stock">Προϊόντα</a>
            <a href="/purchase_history">Ιστορικό αγορών</a>
            <a class="active" href="/move_history">Μεταφορές</a>
            <a href="/">Αποσύνδεση</a>
        </div>
    </div>

</body>