<!DOCTYPE html>
<head>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="styles.css">
    <title>TSMDB-index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="header">
        <a href="#default" class="logo">TSMDB</a>
        <div class="header-right">
          <a href="/">Αρχική</a>
          <a class="active" href="stores">Καταστήματα</a>
          <a href="stock">Προϊόντα</a>
          <a href="clients">Πελάτες</a>
          <a href="">Αποσύνδεση</a>
        </div>
      </div>
      <div style="padding-left:20px">
        <h1>Responsive Header</h1>
        <p>Resize the browser window to see the effect.</p>
        <p>Some content..</p>
      </div>
</body>